{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block body %}
  <main class="container">
    <h1><a href="{{ path('app_main_index', {'_locale': locale}) }}">
        KDE's Applications</a> {{ category.name }}
    </h1>

    {% include 'category.html.twig' %}
  </main>
{% endblock %}
